{{define "footer"}}
     <p class="footer">
      by <a href="https://markmcgranaghan.com" target="_blank">Mark McGranaghan</a> and <a
        href="https://eli.thegreenplace.net" target="_blank">Eli
        Bendersky</a> | <a href="https://github.com/domini-code/gobyexample" target="_blank">source</a> | <a
        href="https://github.com/domini-code/gobyexample#license" target="_blank">licencia</a>
      | <a href="https://twitter.com/bezael_perez" target="_blank">traducido por Bezael</a>
    </p>
{{end}}
